<!DOCTYPE html>
<html lang="">
    <body>
        <h1>Confirme seu email</h1>
        <p>Clique no link abaixo para ativar sua conta:</p>
        <p><a href="{{ verifyUrl }}">Confirmar email</a></p>
        <p>Este link expira em {{ expiresInHours }} horas.</p>
    </body>
</html>
